
.category_title{
    text-align: center;
    padding: 1.5rem;
    font-size: 27px;
    color: #555;
    background: rgb(243, 243, 243);
    margin-top: -10px;
}
.category_row_p{
    display: flex;
}
.category_titleh1{
    text-align: center;
    color: red;
    padding: 5rem 1rem;
    font-size: 40px;
} 
@media screen and (max-width:800px) {
    .category_row_p{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact_img{
        margin-top: 20px;
    }
}
@media screen and (min-width:810px) {
    
    .category_row_p{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
}